:root {
  --c-pale-blue: hsl(225, 100%, 94%);
  --c-bright-blue: hsl(245, 75%, 52%);
  --c-very-pale-blue: hsl(225, 100%, 98%);
  --c-desaturated-blue: hsl(224, 23%, 55%);
  --c-dark-blue: hsl(223, 47%, 23%);
}
